* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f2937;
    font-family: "Roboto", sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    color:white;
    padding:20px;
}

.logo {
    display: flex;
    align-items: center;
    font-size:24px;
    
}

.nav-links {
    gap: 2rem;
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
    font-weight:300;
    font-size:18px;
}

.first-section-container{
    display:flex;
    color:white;
    padding:100px;
    align-items: center;
    justify-content: center;
    gap:5rem;
}

.first-section-content{
    width:27%;
}

.first-section-content h1{
    font-size:48px;
}

.first-section-content p{
    font-size: 18px;
}


#img1{
    width:450px;
    height:auto;
}

.second-section-container{
    display: flex;
    width:100%;
    background-color: white;
    height:50vh;
    justify-content: center;
    padding:20px;
}

.second-section-container h1{
    color:rgb(50, 50, 50);
}

.third-section-container{
    display: flex;
    width:100%;
    background-color: rgb(223, 223, 223);
    height:50vh;
    justify-content: center;
    padding:20px;
}

.fourth-section-container{
    display: flex;
    width:100%;
    background-color: rgb(255, 255, 255);
    height:50vh;
    justify-content: center;
    padding:20px;
}

footer{
    display:flex;
    width:100%;
    background-color: brown;
    height:8vh;
}