* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
    font-family: "Roboto", sans-serif;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:white;
    margin:20px 40px;
}

.logo {
    display: flex;
    align-items: center;
    font-size:24px;
    
}

.nav-links {
    gap: 2rem;
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
    font-weight:300;
    font-size:18px;
}

.first-section-container{
    display:flex;
    flex-wrap: wrap;
    color:white;
    padding:40px 200px;
    align-items: center;
}

.first-content{
    flex:1;
}
#img1{
    width:500px;
    height:auto;
    border-radius:10px;
}

.second-section-container{
    display: flex;
    width:100%;
    background-color: white;
    height:50vh;
    justify-content: center;
    padding:20px;
}

.second-section-container h1{
    color:rgb(50, 50, 50);
}

.third-section-container{
    display: flex;
    width:100%;
    background-color: rgb(223, 223, 223);
    height:50vh;
    justify-content: center;
    padding:20px;
}

.fourth-section-container{
    display: flex;
    width:100%;
    background-color: rgb(255, 255, 255);
    height:50vh;
    justify-content: center;
    padding:20px;
}

footer{
    display:flex;
    width:100%;
    background-color: brown;
    height:8vh;
}