* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 150px;
    height: auto;
}

.body-parent-container {
    display: flex;
    flex-wrap: wrap;
}

.first-content-container {
    flex: 1;
    height: 70vh;
    background-color: rgb(16, 14, 26);
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:white;
    font-family: "Lora", serif;
    margin:20px;
}

.logo {
    display: flex;
    align-items: center;
    font-size:24px;
    
}

.nav-links {
    gap: 2rem;
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
    font-weight:300;
    font-size:18px;
}